tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}
body {
  background: #e0e8f0;
  background: linear-gradient(to right, #e0eeff, #caeaff);
}


#sticky-footer {
  flex-shrink: none;
}

.carousel{
    background: #2f4357;
    margin-top: 0px;
}
.carousel-item{
    text-align: center;
    max-height: 700px;/* Prevent carousel from being distorted if for some reason image doesn't load */
}
.carousel-content {
  position: absolute;
  bottom: 40%;
  left: 10%;
  z-index: 20;
  color: white;
}
h1{
  font-weight: bold;
  color: #FFFF00;

  margin: 0px;
  text-align: center;
  display: inline-block;
}
